%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-indicator {
  @extend %flex;

  font-weight: bold;
  font-size: 16px;
  padding: 13px;
  color: #b01e3d;
  text-align: center;

  &-img {
    margin-right: 20px;
  }

  &-text {
    @extend %flex;
    flex-direction: column;

    &-boom {
      font-size: 19px;
    }
  }
}

@media (max-width: 767px) {
  .error-indicator_img img {
    width: 60px;
  }
}
@media (max-width: 383px) {
  .error-indicator_img {
    display: none;
  }
}
