.random-planet {
  grid-area: planet;
  display: grid;
  grid-template-areas: "planetImg infoLeft infoRight update";
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #303030;
}

.random-planet-info-left {
  grid-area: infoLeft;
}
.random-planet-info-right {
  grid-area: infoRight;
}

.random-planet-image {
  grid-area: planetImg;
}

.random-planet-image img {
  max-width: 138px;
  border-radius: 10px;
}

.random-planet .list-group-item {
  padding: 9px;
  padding-left: 20px;
  margin-bottom: 7px;
  border: none;
  border-bottom: 1px solid rgba(104, 103, 103, 0.589);
}

.random-planet-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.random-planet-button button {
  margin: 5px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.random-planet ul {
  margin: 0;
  padding: 0;
}

.random-planet .list-group-item span {
  color: darkorange;
}

.messageOrSpinner {
  grid-area: planet;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .random-planet {
    grid-template-areas:
      "planetImg infoLeft"
      "update infoRight";
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    font-size: 0.9rem;
  }

  .random-planet-image img {
    max-width: 123px;
    border-radius: 10px;
  }

  .random-planet .list-group-item {
    margin-bottom: 0px;
  }

  .random-planet-button {
    justify-content: flex-start;
  }

  .random-planet-button button {
    margin-top: 0px;
    font-size: 0.8rem;
  }
  .random-planet-info-right {
    position: relative;
    top: -5px;
  }
}
