.app {
  display: grid;
  grid-template-areas:
    "header header"
    "planet planet"
    "list detail";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
}

@media (max-width: 992px) {
  .app {
    grid-template-areas:
      "header header"
      "planet planet"
      "detail detail"
      "list list";
    grid-template-rows: auto auto auto auto;
  }
}
