.person-details,
.noData {
  background-color: #303030;
  border: 1px solid rgba(104, 103, 103, 0.589);
}

.person-details {
  grid-area: detail;
  display: grid;
  grid-template-areas:
    "name name "
    "img info"
    "img info";
  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: 40px auto auto;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.person-details-info {
  grid-area: info;
}

.noData {
  grid-area: detail;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  padding: 10px;
}

.person-details img {
  max-width: 232px;
  border-radius: 7px;
}

.person-details-info ul li {
  padding:11.2px;
  border: none;
  border-bottom: 1px solid rgba(104, 103, 103, 0.589);
}

.person-details-info_name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: darkorange;
  padding-top: 6px;
}

.person-details-info_name h4 {
  font-weight: bold;
}

.person-details span {
  color: #3abc8b;
  font-weight: bold;
  padding-left: 5px;
  text-transform: uppercase;
}

@media (max-width: 465px) {
  .person-details {
    grid-template-areas:
      "name info"
      "img info";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .person-details-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .person-details img {
    max-width: 170px;
    border-radius: 7px;
  }
}

@media (max-width: 405px) {
  .person-details {
    grid-template-areas:
      "name"
      "img"
      "info";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
