.item-list {
  grid-area: list;
}

.item-list ul li:hover {
  background-color: darkorange;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
}
